* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    background-color: grey;
}

#board {
    position: relative;
    width: 900px;
    height: 600px;
    margin: auto;
    /* background: url("./images/board.jpg") no-repeat; */
}

#messageArea {
    position: absolute;
    top: 50px;
    left: 50px;
    color: rgb(83, 175, 19);
    
}
table {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-spacing: 0px;
    width:600px;
}

td {
    width: 50px;
    height: 50px;
    border:1px solid #000000;
    text-align:center;
}

form {
    position: absolute;
    bottom: 50px;
    right: 150px;
    padding: 15px;
    background-color: rgb(83, 175, 19);
}

form input {
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1em;
}
.hit {
    background:url("./images/ship.png") no-repeat center center ;
}
.miss {
    background:url("./images/miss.png") no-repeat center center;
}

